* {
  font-family: "Amiko", sans-serif;
  margin: 0;
}

* html {
  max-width: 1920px;
  background-color: #eeeeee;
}

* body {
  max-width: 1920px;
  margin: 0 auto;
  width: 100vw;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#005aa7), to(#fffde4));
  background-image: linear-gradient(to top, #005aa7, #fffde4);
}

* body::-webkit-scrollbar {
  width: 1.1em;
  height: 1.1em;
}

* body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #0d7377;
}

* body::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

* body {
  scrollbar-face-color: #0d7377;
  scrollbar-track-color: transparent;
}

* #principal {
  max-width: 1920px;
  position: relative;
}

* #contenedor-boton {
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 50;
}

@media (orientation: landscape) {
  * #contenedor-boton {
    right: 50px;
  }
}

* #boton {
  position: relative;
  background-color: #DA4454;
  border: none;
  color: #32e0c4;
  height: 60px;
  outline: none;
  width: 160px;
}

@media (orientation: landscape) {
  * #boton {
    cursor: pointer;
    background-color: #BD2888;
    border: 3px solid #BD2888;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
  }
}

* #boton p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  left: 3px;
  top: 13px;
}

* #boton:hover {
  color: #32e0c4;
}

@media (orientation: landscape) {
  * #boton span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #DA4454;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
    z-index: 0;
  }
}

@media (orientation: landscape) {
  * #boton:hover span {
    width: 300px;
    height: 300px;
  }
}

* #contacto {
  border: 3px solid #0d7377;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#da4453), to(#89216b));
  background-image: linear-gradient(to right, #da4453, #89216b);
  z-index: 300;
  display: none;
  position: fixed;
  padding: 20px 0;
  text-align: center;
  overflow: auto;
  top: 70px;
  right: 0;
  height: 70vh;
  max-height: 900px;
}

* #contacto::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}

* #contacto::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #0d7377;
}

* #contacto::-webkit-scrollbar-track {
  border-radius: 6px;
  background: transparent;
}

* #contacto {
  scrollbar-face-color: #0d7377;
  scrollbar-track-color: transparent;
}

@media (orientation: landscape) {
  * #contacto {
    width: 500px;
    right: 50px;
  }
}

* #contacto #conttext {
  position: absolute;
  top: 50px;
  height: 110px;
  overflow: hidden;
  left: 0px;
  width: 100%;
}

* #contacto #conttext #backtext {
  position: absolute;
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  color: rgba(95, 0, 87, 0.3);
  z-index: 301;
  cursor: default;
}

* #contacto #contenedor {
  position: relative;
  z-index: 302;
}

* #contacto #btn-form {
  position: absolute;
  right: 10px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #0d7377;
  height: 40px;
  width: 40px;
  color: #0d7377;
}

* #contacto #btn-form:hover {
  color: #32e0c4;
  border-color: #32e0c4;
}

* #contacto #data .info1 {
  padding: 20px 0 10px 0;
  font-weight: 600;
  color: #0d7377;
}

* #contacto #data .Info2 {
  color: #32e0c4;
}

* #contacto #data img {
  width: 40px;
  padding: 15px 10px;
}

* #contacto #formu form {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* #contacto #formu form input {
  padding: 5px 0;
  margin: 5px 0;
  background-color: transparent;
  border: none;
  border-left: 1px solid #0d7377;
  padding-left: 5px;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#89216b));
  background-image: linear-gradient(to left, transparent, #89216b);
  outline: none;
}

* #contacto #formu form input:last-child {
  color: #32e0c4;
  border-left: 2px solid #32e0c4;
  border-right: 2px solid #32e0c4;
  padding-left: 5px;
  outline: none;
  cursor: pointer;
  background-color: #5f0057;
  width: 100%;
}

* #contacto #formu form input::-webkit-input-placeholder {
  color: #32e0c4;
}

* #contacto #formu form input:-ms-input-placeholder {
  color: #32e0c4;
}

* #contacto #formu form input::-ms-input-placeholder {
  color: #32e0c4;
}

* #contacto #formu form input::placeholder {
  color: #32e0c4;
}

* #contacto #formu form textarea::-webkit-input-placeholder {
  color: #32e0c4;
}

* #contacto #formu form textarea:-ms-input-placeholder {
  color: #32e0c4;
}

* #contacto #formu form textarea::-ms-input-placeholder {
  color: #32e0c4;
}

* #contacto #formu form textarea::placeholder {
  color: #32e0c4;
}

* #contacto #formu form textarea {
  outline: none;
  margin: 5px 0;
  background-color: transparent;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#89216b));
  background-image: linear-gradient(to left, transparent, #89216b);
  border: none;
  border-left: 1px solid #0d7377;
}

* main {
  height: 100vh;
  max-height: 1280px;
  position: relative;
  max-width: 1920px;
  overflow: hidden;
}

* main #patron {
  height: 100%;
  width: 100%;
  z-index: -10;
  position: absolute;
  right: 15px;
  -webkit-clip-path: polygon(53% 0, 100% 50%, 49% 100%, 0% 100%, 0 49%, 0% 0%);
          clip-path: polygon(53% 0, 100% 50%, 49% 100%, 0% 100%, 0 49%, 0% 0%);
}

@media (orientation: landscape) {
  * main #patron {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
}

* main h1 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  bottom: 30vh;
  right: 0px;
  width: 60vw;
  font-size: 5vh;
  color: #BD2888;
}

@media (orientation: landscape) {
  * main h1 {
    display: inline-block;
    bottom: 60px;
    right: 30px;
    font-size: 60px;
    width: 350px;
  }
}

* main #comp {
  position: absolute;
  width: 40vw;
  bottom: 32vh;
  right: 55vw;
  z-index: -5;
}

@media (orientation: landscape) {
  * main #comp {
    width: 500px;
    bottom: 40px;
    left: 70px;
  }
}

* #recursos {
  padding: 20px 0 20px 0;
  display: -ms-grid;
  display: grid;
  text-align: center;
  height: 100vh;
  max-height: 150vh;
  position: relative;
  background-image: -webkit-gradient(linear, right top, left top, from(#098698), to(#06A99D));
  background-image: linear-gradient(to left, #098698, #06A99D);
  z-index: -6;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

@media (orientation: landscape) {
  * #recursos {
    max-height: 1280px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

* #recursos #toolsbg {
  z-index: -5;
  position: absolute;
  right: 10%;
  bottom: 12px;
  height: 80vh;
}

@media (orientation: landscape) {
  * #recursos #toolsbg {
    max-height: 1200px;
  }
}

* #recursos #computa {
  display: none;
  z-index: -6;
  width: 40%;
  position: absolute;
  left: 3%;
  bottom: 25px;
}

@media (orientation: landscape) {
  * #recursos #computa {
    display: block;
    max-width: 1000px;
  }
}

* #recursos .cuadro {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #0d7377;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px #465050;
          box-shadow: 2px 2px #465050;
  position: relative;
  z-index: -5;
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 45vw;
}

@media (orientation: landscape) {
  * #recursos .cuadro {
    width: 90%;
    height: 90%;
  }
}

* #recursos .cuadro .titulo {
  font-family: "Shanti", sans-serif;
  font-weight: 600;
  padding: 10px 0;
  font-size: 2.3vw;
}

@media (orientation: landscape) {
  * #recursos .cuadro .titulo {
    font-size: 34px;
  }
}

* #recursos .cuadro .texto {
  font-size: 2vw;
  padding: 0 5px 10px 5px;
  color: #212121;
}

@media (orientation: landscape) {
  * #recursos .cuadro .texto {
    font-size: 14px;
    padding: 0 5px 10px 5px;
  }
}

* #recursos .cuadro .cuadro-fondo {
  position: absolute;
  width: auto;
  z-index: -4;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-clip-path: polygon(0 68%, 100% 47%, 100% 100%, 0% 100%);
          clip-path: polygon(0 68%, 100% 47%, 100% 100%, 0% 100%);
}

* #recursos .cuadro img {
  padding-top: 10px;
  width: 6vw;
}

@media (orientation: landscape) {
  * #recursos .cuadro img {
    width: 60px;
  }
}

* #mocks {
  height: 100vh;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}

* #mocks h2 {
  text-align: center;
  padding: 10px 0 30px 0;
  color: #eeeeee;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

* #mocks #ejemplos {
  padding-top: 30px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  border: 3px solid #32e0c4;
  border-radius: 10px;
  margin: 0px 20px;
  background-image: radial-gradient(circle at top right, #8a0945 0%, #8a0945 48%, #8a0978 48%, #8a0978 53%, #8a0945 53%, #8a0945 56%, #9102d0 56%, #9102d0 69%, #b500ed 69%, #b500ed 100%);
}

* #mocks #ejemplos::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

* #mocks #ejemplos::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #520319;
}

* #mocks #ejemplos::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #0d7377;
}

* #mocks #ejemplos {
  scrollbar-face-color: #520319;
  scrollbar-track-color: #0d7377;
}

* #mocks #ejemplos img {
  margin: 0 20px;
  width: auto;
  height: 90%;
}

@media (orientation: landscape) {
  * #mocks #ejemplos img {
    height: 100%;
    width: auto;
    max-height: 60vh;
  }
}

* #about {
  position: relative;
  padding: 20px 0;
  text-align: center;
  max-height: 150vh;
  height: 100vh;
  z-index: -7;
  background-image: -webkit-gradient(linear, left top, right top, from(#a8ff78), to(#78ffd6));
  background-image: linear-gradient(to right, #a8ff78, #78ffd6);
}

@media (orientation: landscape) {
  * #about {
    height: 100vh;
    max-height: 1280px;
  }
}

* #about .fondillo {
  overflow: hidden;
  z-index: -6;
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  -webkit-clip-path: polygon(30% 0, 100% 32%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
          clip-path: polygon(30% 0, 100% 32%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
  height: 100%;
}

@media (orientation: landscape) {
  * #about .fondillo {
    -webkit-clip-path: polygon(70% 0, 100% 20%, 100% 80%, 80% 100%, 0 52%, 0 0);
            clip-path: polygon(70% 0, 100% 20%, 100% 80%, 80% 100%, 0 52%, 0 0);
    height: 100vh;
    max-height: 1280px;
  }
}

* #about .ima {
  bottom: 5px;
  position: absolute;
  z-index: -5;
}

* #about .yo1 {
  left: 30px;
  height: 70vh;
}

@media (orientation: landscape) {
  * #about .yo1 {
    height: 50vh;
    max-height: 1000px;
  }
}

* #about .yo2 {
  display: none;
}

@media (orientation: landscape) {
  * #about .yo2 {
    display: block;
    right: 95px;
    height: 80vh;
    max-height: 1000px;
  }
}

* #about h3 {
  padding: 20% 0 50px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #eeeeee;
}

@media (orientation: landscape) {
  * #about h3 {
    color: #eeeeee;
    padding: 20px 0 50px 0;
  }
}

* #about p {
  color: #eeeeee;
  font-size: 3vw;
  width: 80vw;
  padding: 10% 0;
  margin: 0 auto;
}

@media (orientation: landscape) {
  * #about p {
    width: 60vw;
    max-width: 1280px;
    font-size: 25px;
    padding: 10px 0;
  }
}

* footer {
  position: relative;
  background-color: #212121;
  z-index: -2;
  overflow: hidden;
  bottom: 0;
}

* footer #img-footer {
  position: absolute;
  z-index: -1;
  right: 0;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
}

* footer .disclaimer {
  padding: 20px 0;
  color: #eeeeee;
  text-align: center;
}

* footer .disclaimer a {
  color: #eeeeee;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */